
$background: #eeeeee;
$paper: #ffffff;
$darktext: #000000;
$lighttext: #555555;
$active: #4DA6FF;

:root {
    background: $background;
}

:root, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Inter', sans-serif;
}

.app {
    display: grid;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr min-content 1fr;

    .page-title {
        font-size: clamp(0px, 2.75rem, 10vw);
        display: grid;
        align-content: center;
        justify-content: center;
        white-space: nowrap;
    }

    .page-footer {
        font-size: clamp(0px, 0.9rem, 5vw);
        display: grid;
        align-content: flex-end;
        justify-content: center;

        a {
            display: flex;
            flex-flow: row nowrap;
            padding: 1rem;
            align-items: center;
            color: $lighttext;

            svg {
                width: clamp(0px, 1.5rem, 10vw);
                margin-right: 0.5rem;
            }
        }
    }
}

.sudoku-solver {
    display: grid;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

@keyframes solving-animation {
    0%, 100% {
        outline: 0px solid rgba($active, 0.0);
        outline-offset: 0px;
    }
    20% {
        outline: 1vw solid rgba($active, 0.5);
    }
    50% {
        outline: 1vw solid rgba($active, 0.25);
        outline-offset: 0.5vw;
    }
}

.sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    align-items: stretch;
    justify-items: stretch;
    width: 75vw;
    height: 75vw;
    max-width: 75vh;
    max-height: 75vh;
    border: 2px solid $darktext;

    &.sudoku-working {
        animation: solving-animation 750ms ease-in-out infinite;
    }
}

.sudoku-cell {
    box-sizing: border-box;
    border: 1px solid $darktext;
    position: relative;
}

.sudoku-cell-result {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.sudoku-cell-input {
    outline: none;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background: $paper;
    transition: border 100ms ease-out;
    border: 1px solid $paper;
    border-radius: 0.2rem;
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: min(5vw, 5vh);
    user-select: none;
    border: 0px solid $active;
    caret-color: transparent;

    &:hover {
        cursor: pointer;
        border: 1px solid $active;
    }
    
    &:focus-within {
        cursor: pointer;
        border: 3px solid $active;
    }
}

.sudoku-cell-x-2, .sudoku-cell-x-5 {
    border-right: 2px solid $darktext;
}

.sudoku-cell-2-x, .sudoku-cell-5-x {
    border-bottom: 2px solid $darktext;
}

