@use 'vars.scss';

@keyframes solving-animation {

    0%,
    100% {
        outline: 0px solid rgba(vars.$active, 0.0);
        outline-offset: 0px;
    }

    20% {
        outline: 1vw solid rgba(vars.$active, 0.5);
    }

    50% {
        outline: 1vw solid rgba(vars.$active, 0.25);
        outline-offset: 0.5vw;
    }
}

@keyframes reducing-animation {

    0%,
    100% {
        opacity: 1;
    }

    20% {
        opacity: 0.6;
    }
}

.sudoku-input-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    @media (min-aspect-ratio: 16/15) {
        flex-flow: row nowrap;
    }

    .sudoku-grid-wrapper {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        &.sudoku-working {
            animation: solving-animation 750ms ease-in-out infinite;
        }

        &.sudoku-reducing .sudoku-cell-result {
            animation: reducing-animation 750ms ease-in-out infinite;
        }

        .sudoku-grid {
            display: grid;
            align-items: stretch;
            justify-items: stretch;
            width: min(90vw, 70vh);
            height: min(90vw, 70vh);
            border: 2px solid vars.$darktext;
            outline: 0.2rem solid white;

            &.sudoku-grid-9 {
                grid-template-columns: repeat(9, 1fr);
                grid-template-rows: repeat(9, 1fr);
                font-size: min(7.2vw, 6vh);

                .sudoku-cell-x-2,
                .sudoku-cell-x-5 {
                    border-right: 2px solid vars.$darktext;
                }

                .sudoku-cell-2-x,
                .sudoku-cell-5-x {
                    border-bottom: 2px solid vars.$darktext;
                }

                .sudoku-cell-result {
                    top: min(0.5vw, 0.5vh);
                    left: min(0.5vw, 0.5vh);
                    right: min(0.5vw, 0.5vh);
                    bottom: min(0.5vw, 0.5vh);

                    div {
                        transition: color 100ms linear;
                    }

                    &.sudoku-results-9,
                    &.sudoku-results-0,
                    &.sudoku-results-8,
                    &.sudoku-results-7 {
                        font-size: min(2.16vw, 1.8vh);
                    }

                    &.sudoku-results-6,
                    &.sudoku-results-5 {
                        font-size: min(2.88vw, 2.4vh);
                    }

                    &.sudoku-results-4,
                    &.sudoku-results-3,
                    &.sudoku-results-2 {
                        font-size: min(2.88vw, 2.4vh);
                    }

                    &.sudoku-results-2 {
                        font-size: min(4.32vw, 3.6vh);
                    }

                    &.sudoku-results-1 {
                        font-size: min(5.76vw, 4.8vh);
                    }
                }
            }

            &.sudoku-grid-16 {
                grid-template-columns: repeat(16, 1fr);
                grid-template-rows: repeat(16, 1fr);
                font-size: min(4.05vw, 3.375vh);

                .sudoku-cell-x-3,
                .sudoku-cell-x-7,
                .sudoku-cell-x-11 {
                    border-right: 2px solid vars.$darktext;
                }

                .sudoku-cell-3-x,
                .sudoku-cell-7-x,
                .sudoku-cell-11-x {
                    border-bottom: 2px solid vars.$darktext;
                }

                .sudoku-cell-result {
                    top: min(0.1vw, 0.1vh);
                    left: min(0.1vw, 0.1vh);
                    right: min(0.1vw, 0.1vh);
                    bottom: min(0.1vw, 0.1vh);

                    &.sudoku-results-16,
                    &.sudoku-results-15,
                    &.sudoku-results-14,
                    &.sudoku-results-13,
                    &.sudoku-results-12,
                    &.sudoku-results-11,
                    &.sudoku-results-10 {
                        font-size: min(1.0vw, 0.9vh);

                        div {
                            width: 25%;
                            height: 25%;
                        }
                    }

                    &.sudoku-results-9,
                    &.sudoku-results-0,
                    &.sudoku-results-8,
                    &.sudoku-results-7 {
                        font-size: min(1.3vw, 1.08vh);
                    }

                    &.sudoku-results-6,
                    &.sudoku-results-5,
                    &.sudoku-results-4,
                    &.sudoku-results-3,
                    &.sudoku-results-2 {
                        font-size: min(2.16vw, 1.8vh);
                    }

                    &.sudoku-results-2 {
                        font-size: min(3.24vw, 2.7vh);
                    }

                    &.sudoku-results-1 {
                        font-size: min(4.32vw, 3.6vh);
                    }
                }
            }

            @media (min-aspect-ratio: 16/15) {
                width: min(90vw, 75vh);
                height: min(90vw, 75vh);
            }

            .sudoku-cell {
                box-sizing: border-box;
                border: 1px solid vars.$darktext;
                position: relative;
                background: vars.$paper;
                transition: background-color 200ms ease-in;
                contain: layout size;

                .sudoku-cell-result {
                    position: absolute;
                    pointer-events: none;
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    justify-content: center;
                    align-content: space-around;
                    overflow: hidden;
                    user-select: none;
                    contain: strict;

                    div {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 33%;
                        height: 33%;
                        contain: strict;

                        &.sudoku-result-sure {
                            color: vars.$lighttext;
                        }

                        &.sudoku-result-unsure {
                            color: vars.$lightertext;
                        }
                    }

                    &.sudoku-results-4,
                    &.sudoku-results-3,
                    &.sudoku-results-2 {
                        div {
                            width: 50%;
                            height: 50%;
                        }
                    }

                    &.sudoku-results-1 div {
                        width: 100%;
                        height: 100%;
                    }
                }

                &.sudoku-cell-set .sudoku-cell-result {
                    display: none;
                }

                .sudoku-cell-input {
                    outline: none;
                    position: absolute;
                    top: 1px;
                    left: 1px;
                    right: 1px;
                    bottom: 1px;
                    border: 1px solid vars.$paper;
                    border-radius: 0.2rem;
                    display: grid;
                    align-content: center;
                    justify-content: center;
                    user-select: none;
                    border: 0px solid vars.$active;
                    caret-color: transparent;
                    transition: background-color 200ms ease-in;
                    contain: strict;

                    &:hover {
                        cursor: pointer;
                        border: 1px solid vars.$active;
                    }
                }

                &.sudoku-cell-constraint {
                    background-color: mix(vars.$active, vars.$paper, 10%);
                }

                &.sudoku-cell-selected {
                    background-color: mix(vars.$active, vars.$paper, 20%);

                    .sudoku-cell-input {
                        border: 3px solid vars.$active;
                    }
                }
            }
        }

        .status-row {
            width: min(90vw, 70vh);

            @media (min-aspect-ratio: 16/15) {
                width: min(90vw, 75vh);
            }
        }
    }

    .sudoku-input {
        display: grid;
        margin-top: min(1vw, 1vh);

        &.sudoku-input-9 {
            grid-template-columns: repeat(10, 1fr);
        }

        &.sudoku-input-16 {
            grid-template-columns: repeat(9, 1fr);

            .number-button {
                width: min(6vw, 5vh);
                height: min(3vw, 2.5vh);
            }
        }

        .number-button {
            display: block;
            box-sizing: border-box;
            margin: min(1vw, 1vh);
            width: min(6vw, 5vh);
            height: min(6vw, 5vh);
            appearance: none;
            outline: none;
            border: none;
            box-shadow: none;
            background: none;
            font-size: 1.5rem;
            text-transform: uppercase;
            border-radius: 1rem;
            border: 1px solid transparent;
            transition: border 100ms ease-in;

            &:hover {
                cursor: pointer;
                border: 1px solid vars.$active;
            }
        }

        @media (max-aspect-ratio: 5/9) {
            margin-top: 4vh;

            &.sudoku-input-9 {
                grid-template-columns: repeat(5, 1fr);

                .number-button {
                    width: 15vw;
                    height: 10vw;
                }
            }

            &.sudoku-input-16 {
                grid-template-columns: repeat(6, 1fr);

                .number-button {
                    width: 15vw;
                    height: 15vw;
                }
            }
        }

        @media (min-aspect-ratio: 16/15) {
            &.sudoku-input-9 {
                grid-template-columns: repeat(1, 1fr);
            }

            &.sudoku-input-16 {
                grid-template-columns: repeat(2, 1fr);

                .number-button {
                    width: min(6vw, 5vh);
                    height: min(6vw, 5vh);
                }
            }
        }
    }
}
